[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-model-utils = "*"
httpie = "*"
django-cors-headers = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.8"
